node_modules
*.sublime-workspace
*.psd
portfolio/
anatomy/
src/html/bk.shtml
src/html/anatomy-head.html
src/html/anatomy-src.html
src/html/anatomy.html
anatomy-head.html
anatomy-src.html
anatomy.html

acnh/html/includes/bk.html
bk.html
acnh/src/scss/.sass-cache/
acnh/assets/data/bk/
acnh/assets/data/mine/
